*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #303841;
    background-color: #fbf5f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid-container{
    width: 600px;
    height: 600px;
    border: 1px solid #b7245c;
    display: flex;
}

label, p, input, h1{
    display: block;
    margin: auto;
    padding: 8px 0;
    text-align: center;
}

#slider:hover {
    cursor: grab;
}
#slider:active{
    cursor: grabbing;
}

a{
    text-decoration: none;
    color: #303841;
}
a:hover{
    color: #b7245c;
}